## Строим графики для данных из первых двух тасков

### График для данных из файла user_3_task1.log

#### Так выглядят данные user_3_task1.log в dataframe

In [7]:
import pandas as pd
df1 = pd.read_csv('user_3_task1.log', sep=' ', engine='python')
df1.columns = columns = ['date', 'time', 'is_online']
df1

              date      time  is_online
0       2020-09-25  14:01:54      False
1       2020-09-25  14:01:59      False
2       2020-09-25  14:02:04      False
3       2020-09-25  14:02:09      False
4       2020-09-25  14:02:14      False
...            ...       ...        ...
362874  2020-10-16  14:01:24      False
362875  2020-10-16  14:01:29      False
362876  2020-10-16  14:01:34      False
362877  2020-10-16  14:01:39      False
362878  2020-10-16  14:01:44      False

[362879 rows x 3 columns]

В matplotlib графики на такие объемы данных строятся долго, попытался провести преобразования, но безрезультатно, поэтому построил графики в экселе в итоге

![](https://image.prntscr.com/image/0rdr3UWUQ7mCXcacvRonKQ.png)

### График для данных из файла user_3_task2.csv

Так выглядят данные user_3_task2.csv в dataframe

In [28]:
import pandas as pd
df2 = pd.read_csv('user_3_task2.csv', sep=',')
df2.columns = ['date', 'time', 'is_online']
df2

              date      time  is_online
0       2020-10-10  12:53:39       True
1       2020-10-10  12:53:44       True
2       2020-10-10  12:53:49       True
3       2020-10-10  12:53:54       True
4       2020-10-10  12:53:59       True
...            ...       ...        ...
100964  2020-10-16  09:06:00       True
100965  2020-10-16  09:06:05       True
100966  2020-10-16  09:06:10       True
100967  2020-10-16  09:06:15       True
100968  2020-10-16  09:06:20       True

[100969 rows x 3 columns]

![](https://image.prntscr.com/image/r1bj0_8uQrqNz60MirGuTA.png)